name: build

on:
  push:
    branches:
      - main
      - 'dev/**'
  pull_request:
    branches: [ main ]
  release:
    types:
      - published

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.13"

      - name: Install dependencies
        run: |
          python -m pip install -r test/requirements.txt

      - name: Install
        run: |
          python -m pip install .

      - name: Run Lint
        run: |
          pylint --rcfile test/pylint.rc gitmetheurl

#-------------------------------------------------------------------------------
  mypy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.13"

      - name: Install dependencies
        run: |
          python -m pip install -r test/requirements.txt

      - name: Install
        run: |
          python -m pip install "."

      - name: Type Check
        run: |
          mypy --config-file test/mypy.ini src/gitmetheurl

#-------------------------------------------------------------------------------
  build:
    needs:
      - lint
      - mypy
    name: Build distributions
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        name: Install Python
        with:
          python-version: "3.13"

      - name: Install dependencies
        run: |
          python -m pip install build

      - name: Build
        run: python -m build

      - uses: actions/upload-artifact@v4
        with:
          name: dist
          path: |
            dist/*.tar.gz
            dist/*.whl

#-------------------------------------------------------------------------------
  deploy:
    needs:
      - build

    runs-on: ubuntu-latest
    environment: release
    permissions:
      id-token: write

    # Only publish when a GitHub Release is created.
    if: github.event_name == 'release'
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: dist
          path: dist

      - uses: pypa/gh-action-pypi-publish@release/v1
